.box
  %ul
    - Dir.entries('../Demos').sort.each do |dir|
      - if not dir =~ /^\./
        %li.dir
          %ul
            %li.file
              %span
                = dir
            - Dir.entries("../Demos/#{dir}").sort.each do |file|
              - if not file =~ /^\./
                %li.file 
                  %a{:href=>"/demos/#{dir}/#{file}"}
                    = file
    .clear
