.box.doci
  .explan
    %h3
      Legend
    %p
      %span.extends >
      Extends
    %p
      %span.implements +
      Implements
    %p
      %span.func ~
      Function
    %p
      %span.at #
      Attribute
    %p
      %span.ev ×
      Event
    %p.inherited
      %span.func ~
      Inherited Function
    %p.inherited
      %span.at #
      Inherited Attribute
    %p.inherited
      %span.ev ×
      Inherited Event
      
  %ul
    - Dir.entries('../Docs').sort.each do |dir|
      - if not dir =~ /^\./ and File.directory? '../Docs/'+dir
        %li.dir
          %ul
            %li.file
              %span
                = dir
            - Dir.entries("../Docs/#{dir}").sort.each do |file|
              - if not file =~ /^\./
                %li.file
                  %a{:href=>"/docs/#{dir}/#{file}"} 
                    = file
    .clear

