!!! 5
%html{:lang=>"en",:"xml:lang"=>"en", :xmlns=>"http://www.w3.org/1999/xhtml"}
  %head
    %script{:src=>"https://ajax.googleapis.com/ajax/libs/mootools/1.3.1/mootools-yui-compressed.js", :type=>"text/javascript"}
    %script{:src=>"/mootools-more-1.3.1.1.js", :type=>"text/javascript"}
    - if request.path_info =~ /^\/download/
      %script{:src=>"/Packager.js", :type=>"text/javascript"}
    - if request.path_info =~ /^\/demos/ or request.path_info =~ /^\/themes/ or request.path_info =~ /^\/docs/
      %link{:href => "../builds/Blender/theme.css", :rel => "stylesheet", :type => "text/css", :media=>"screen"}/
      %script{:src=>"../builds/lattice-latest.js", :type=>"text/javascript"}
    %link{:href => "style.css", :rel => "stylesheet", :type => "text/css", :media=>"screen"}/
    %title
      - if request.path_info =~ /^\/home/
        - title = "Lattice"
      - else
        - title = "Lattice"+request.path_info.split("/").each{|item| item.capitalize!}.join(" :: ")
      = title
  %body
    %nav
      %ul
        %li
          Lattice
        - ['home','docs','demos','themes', 'download'].each do |item|
          %a{:href=>"/#{item}", :class=>if request.path_info =~ Regexp.new("^/#{item}") then "current" end}
            %li
              = item.capitalize
      .clear
    = yield
    
